{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "last 2 version",
                        "Firefox ESR",
                        "> 1%",
                        "ie >= 9"
                    ]
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": [["@babel/plugin-transform-runtime"]]
}
