{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "webextensions": true
    },
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "react"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".json", ".ts", ".tsx"]
            }
        }
    },
    "rules": {
        "no-console": "off",
        "func-names": "off",

        "react/jsx-indent": ["error", 4],
        "react/jsx-filename-extension": [
            1,
            { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
        ],

        "import/extensions": "off",
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": true }
        ],

        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/explicit-function-return-type": "off"
    },
    "overrides": [
        {
            "files": ["server/**/*.ts"],
            "rules": {
                "global-require": "off",
                "no-unused-expressions": "off",

                "import/no-extraneous-dependencies": "off",
                "import/no-dynamic-require": "off",

                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}
